{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<header id="header">
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="center">
                    <div class="intro-text">
                        <h1 style="text-align:center;">Jfos</h1>
                        <p style="text-align:center;">Just a Food Ordering System</p>
                        <div class="text-center"><a href="/menucard" class="btn btn-success btn-lg float-center">Order
                                Now</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


{% endblock %}

</body>

</html>