<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body >
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/uhome">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/umenucard">Order Food <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userupdate">View/Update Details <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart ({{session['FoodCart']|length}}) <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ulogout">Logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br><br><br>

    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <form class='/umenucard' , method="POST">
                <div class="form-inline">
                    <input type="text" class="form-control" id="restname" name="restname"
                        placeholder="Search by Restaurant">
                    &nbsp;
                    <button type="submit" class="btn btn-success" value=”submit”>Search</button>
                </div>
            </form>
        </nav>
    </div>

    {% for rest in allrest %}
    <div class="container">
        <div class="jumbotron">
            <img src="/static/res1.png" alt="Food" width="110" height="110">
            <form action="/restmenu" method="POST">
                <input type="text" name="restid" id="temp{{ rest.rid }}" style="visibility: hidden;" />
                <p>Order from {{rest.rname}}, located at {{rest.raddress}}</p>
                <p>Contact: {{rest.rmobile}}</p>
                <script>
                    var temp = '{{ rest.rid }}';
                    document.getElementById("temp{{ rest.rid }}").value = temp;
                </script>
                <button type="submit" class="btn btn-primary text-center float-right" value=”submit”>See Menu</button>
            </form>


        </div>

    </div>
    {% endfor %}
    <br><br>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>Just a Food Ordering System</p>
            <p>Contact me through <a href="https://www.linkedin.com/in/nikhil-shrivastava-0504b0146/">Linkedin</a> or send me an <a href = "mailto: 17ucc038@lnmiit.ac.in">Email</a>
        </div>
    </footer>
    <br>

</body>

</html>